
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Sansita Swashed", cursive;
  background-color: #00FF5F; /* For browsers that do not support gradients */
  background-image: linear-gradient(#dadbdd, #00FF5F);
}
.center {
  width: 20em;
  height: 20em;
  background: #F0F2F5;
  border-radius: 50px;
  border: 2px solid #000;
}
.inputbox {
  border: 2px solid #000;
  outline: none;
  background: none;
  border-radius: 10px;
  font-size: 1.2em;
}


.btn {
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 16px 11px;
  background-color: #00FF5F;
  border: 2px solid #000;
  border-radius: 50px;
}
